/* You can add global styles to this file, and also import other style files */
.btn, .btn:checked, .btn:focus, .btn:enabled {
  background-color: burlywood;
  border-color: burlywood;
}
.btn:hover {
  background-color: burlywood;
  border-color: burlywood;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



