<h2>My Appointments</h2>
<input type="text" class="textbox" name="filter" value="" #Filter>
<button class="btn" (click)="filter(Filter.value)" style = "margin: 5px">Search by address</button>
<button class="btn" (click)="getAppointments()" style = "margin: 5px">Reset</button><br>
<button class="btn" (click)="sort('idAsc')" style = "margin: 5px">Sort by ID in ascending order</button>
<button class="btn" (click)="sort('idDesc')" style = "margin: 5px">Sort by ID in descending order</button>
<button class="btn" (click)="sort('dateAsc')" style = "margin: 5px">Sort by date in ascending order</button>
<button class="btn" (click)="sort('dateDesc')" style = "margin: 5px">Sort by date in descending order</button>
<ul class="list-group">
  <ul *ngFor="let appointment of appointmentList">
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col col-lg-1"></div>
          <div class="col" style="text-align: left">
            <label>ID:</label><input type="text1" class="textbox" name="id" style="margin: 2px" value="{{appointment.id}}" readonly #ID><br>
            <label>Username:</label> <input type="text1" class="textbox" name="username" style="margin: 2px" value="{{appointment.username}}" readonly #Username><br>
            <label>Date:</label> <input type="text1" class="textbox" name="date" style="margin: 2px" value="{{ appointment.date }}" readonly #Date><br>
            <label>Time:</label> <input type="text1" class="textbox" name="time" style="margin: 2px" value="{{ appointment.time }}" readonly #Time><br>
            <label>Address:</label> <input type="text1" class="textbox" name="address" style="margin: 2px" value="{{ appointment.address }}" readonly #Address><br>
            <label>Receipt:</label> <input type="text1" class="textbox" name="receipt" style="margin: 2px" value="{{ appointment.receipt }}"  readonly #Receipt><br>
            <label>Accepted:</label> <input type="text1" class="textbox" name="accepted" style="margin: 2px" value="{{ appointment.accepted }}" readonly #Accepted><br>
            <label>Paid:</label> <input type="text" class="textbox" name="accepted" style="margin: 2px" value="{{ appointment.paid }}" #Paid><br>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <button class="btn" title="update" style="margin: 5px" (click)="update(ID.value, Date.value, Time.value, Address.value, Username.value, Accepted.value, Receipt.value, Paid.value)">update</button>
      <button class="btn" title="delete" style="margin: 5px" (click)="delete(appointment)">delete</button>
    </li>
  </ul>
</ul>

