<h2>Users</h2>
<input type="text" class="textbox" name="filter" value="" #Filter>
<button class="btn" (click)="filter(Filter.value)" style = "margin: 5px">Search by surname</button>
<button class="btn" (click)="getUsers()" style = "margin: 5px">Reset</button><br>
<ul class="list-group">
  <ul *ngFor="let user of userList">
    <li class="list-group-item">
      Name: {{ user.name }}<br>
      Surname: {{ user.surname }}<br>
      <button class="btn" [routerLink]="[user.id]">See appointments</button>
    </li>
  </ul>
</ul>
